{% extends "layout.html" %}

{% block content %}
    {%for post in posts%}  
        <article class="media content-section">
            <a href="{{ post.link }}"><img class="mr-3 article-img" src="{{ post.link }}" alt="Screenshot Thumbnail"></a>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ users[post.user_id] }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.comments }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}