{% extends "layout.html" %}

{% block content %}
    {%for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('view_posts', user_id=post.author.id) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <div class="article-content">
                    <p>{{ post.comments }}</p>
                    {% if 'imgur.com' in post.link %}
                        {% if 'gallery' in post.link %}
                            {% set pic = post.link.split('imgur.com/gallery/')[1] %}
                        {% else %}
                            {% set pic = post.link.split('imgur.com/')[-1].split('.')[0] %}
                        {% endif %}
                        <blockquote class="imgur-embed-pub" lang="en" data-id="{{ pic }}"><a href="{{ post.link }}"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
                    {% else %}
                        <a href="{{ post.link }}"><img class="article-img" src="{{ post.link }}" alt="Gamer Screenshot"></a>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>        
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}

<blockquote class="imgur-embed-pub" lang="en" data-id="uNJgaLN"><a href="//imgur.com/uNJgaLN"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
