{% extends "layout.html" %}

{% block content %}
    <h2 class="account-heading">Posts submitted by {{ posts[0].author.username }}</h2>
    {%for post in posts%}  
        <article class="media content-section">
            <a class="align-self-top mr-3" href="../{{ post.author.image_file }}"><img src="../{{ post.author.image_file }}" alt="Profile Picture"></a>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('view_posts', user_id=post.author.id) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <div class="article-content">
                    <p>{{ post.comments }}</p>
                    {% if 'imgur.com' in post.link %}
                        {% if 'gallery' in post.link %}
                            {% set pic = post.link.split('imgur.com/gallery/')[1] %}
                            <blockquote class="imgur-embed-pub" lang="en" data-id="{{ pic }}"><a href="{{ post.link }}"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
                        {% else %}
                            {% set pic = post.link.split('imgur.com/')[-1].split('.')[0] %}
                            <blockquote class="imgur-embed-pub" lang="en" data-id="{{ pic }}"><a href="{{ post.link }}"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
                        {% endif %}
                    {% else %}
                        <a href="{{ post.link }}"><img class="article-img" src="{{ post.link }}" alt="Gamer Screenshot"></a>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

<blockquote class="imgur-embed-pub" lang="en" data-id="uNJgaLN"><a href="//imgur.com/uNJgaLN"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>